<title>Contact Us | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Contact Us</u>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="content-container" style="display:block;">
		
			<div class="row-fluid">
				<div class="span9">
					<h3>Office Hours</h3>			
					<table>
						<tr>
							<td>Monday-Thursday</td>
							<td>8:30am-1pm and 2pm-5pm</td>
						</tr>
						<tr>
							<td>Friday</td>
							<td>8:30am-12pm</td>
						</tr>
					</table>	
					<br><br><br><br>
				</div>
				<div class="span3">	
					<%= image_tag 'pocketwatch.jpg' %>	
				</div>
			</div>	
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="content-container">
			<%= image_tag 'cellphone.jpg', :class => "float-right" %>	
			<h3>Phone</h3>			
				<p>
					<b>
						315-637-7684<br>
						(315-6DR-ROTH)
					</b>
				</p>
				<p>
					We always welcome calls from current and future members of our family of patients.  You may phone us with your dental concerns, questions, and desired appointments at any time of day and day of the year.  Our phone lines are always open for your dental needs.
				</p>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="content-container">
			<%= image_tag 'emergency.jpg', :class => "float-right" %>	
			<h3>Emergencies</h3>			
				<p>
					<b>
						315-637-7684<br>
						(315-6DR-ROTH)
					</b>
				</p>
				<p>
					Dental emergencies don't have office hours. Accordingly, our phone lines never sleep. We always stand ready to provide appropriate assistance for the dental emergencies of our family of patients
				</p>
		</div>
	</div>
</div>

<div class="row-fluid" class="email">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Email Appointment</h3>
			<p>
				To make an appointment for a dental problem or a "Dream Smile" treatment please phone the TLC Dental Group at (315) 637-7684 or simply complete the email form below and click on the "Send" button.  We will then call to thank you and confirm your appointment.<br><br>

				This form is programmed solely for making appointments. If you have a dental emergency or wish to change or cancel an appointment please phone our office at (315) 637-7684. 
			</p>				
			<input type="text" placeholder="Name"><br>
			<label class="checkbox">
    		  Current patient? <input type="checkbox"> 
   			</label>
			<input type="text" placeholder="Email Address"><br>
			<input type="text" placeholder="Phone #"><br>
			<strong>Best time to call?</strong><br>
			<label class="checkbox inline">
			  <input type="checkbox" id="morning" value="option1"> Morning
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="noon" value="option2"> Noon
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="afternoon" value="option3"> Afternoon
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="evening" value="option3"> Evening
			</label><br><br>
			<input type="text" placeholder="Date of Desired Appointment"><br><br>
			<strong>Preferred Time?</strong><br>
			<label class="checkbox inline">
			  <input type="checkbox" id="morningtime" value="option1"> Morning
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="afternoontime" value="option2"> Afternoon
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="anytime" value="option3"> Anytime
			</label><br><br>
			<strong>Which of the following treatment categories of our website is central to your appointment?</strong><br>
			<label class="checkbox inline">
			  <input type="checkbox" id="dreamsmiles" value="option1"> Dream Smile Solutions
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="commondentalproblems" value="option2"> Common Dental Problem
			</label>
			<label class="checkbox inline">
			  <input type="checkbox" id="preventivedentistry" value="option3"> Preventive Dentistry
			</label><br><br>
			<button class="btn btn-primary" type="button">Submit</button>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="content-container">
			<%= link_to(image_tag("TLC_logo.jpg", :class => "float-right"), office_toothbrushmailbox_path) %>
	
			<h3>Office Address</h3>			
				<p>
					<b>7197 Highbridge Road, Fayetteville, NY 13066</b>
				</p>
				<p>
					Toothbrush Mailbox Landmark	<br>
					We are the easiest of Central New York dentists to locate, Just say "toothbrush mailbox" to virtually any local resident and directions will follow.  Our practice enjoys a notable landmark, as distinctive in dental circles as the Needle is in Seattle.  Our celebrated mailbox, anchored by a toothbrush pole and crowned by two resplendent molars, marks the entrance to our office.  Click on the above drawing for a brief history of this embattled and enduring landmark, designed by Dr. Rothenberg and expressive of the "Art of Gentle Dentistry."
				</p>
		</div>
	</div>
</div>

<div class="row-fluid" id="directions">
	<div class="span10 offset1">
		<div class="content-container">	
			<h3>Directions</h3>	
			<div class="row-fluid" style="text-align:center;">
				<div class="span12">
					<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=7197+Highbridge+Road,+Fayetteville,+NY+13066&amp;aq=&amp;sll=40.371659,-126.040649&amp;sspn=2.828991,5.817261&amp;ie=UTF8&amp;hq=&amp;hnear=7197+Highbridge+Rd,+Fayetteville,+New+York+13066&amp;ll=43.019641,-76.023256&amp;spn=0.010605,0.022724&amp;t=m&amp;z=14&amp;iwloc=r0&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=7197+Highbridge+Road,+Fayetteville,+NY+13066&amp;aq=&amp;sll=40.371659,-126.040649&amp;sspn=2.828991,5.817261&amp;ie=UTF8&amp;hq=&amp;hnear=7197+Highbridge+Rd,+Fayetteville,+New+York+13066&amp;ll=43.019641,-76.023256&amp;spn=0.010605,0.022724&amp;t=m&amp;z=14&amp;iwloc=r0" style="color:#0000FF;text-align:center;">View Larger Map</a></small>
					<script style="text-align:center;" src="//www.gmodules.com/ig/ifr?url=http://hosting.gmodules.com/ig/gadgets/file/114281111391296844949/driving-directions.xml&amp;up_fromLocation=&amp;up_myLocations=7197%20Highbridge%20Fayetteville%2C%20NY%20(Rothenburg%20TLC%20Dental)&amp;up_defaultDirectionsType=&amp;up_autoExpand=&amp;synd=open&amp;w=320&amp;h=55&amp;title=Directions+by+Google+Maps&amp;lang=en&amp;country=US&amp;border=%23ffffff%7C0px%2C1px+solid+%23004488%7C0px%2C1px+solid+%23005599%7C0px%2C1px+solid+%230077BB%7C0px%2C1px+solid+%230088CC&amp;output=js"></script>
				</div>
			</div>
			<p>
				Driving Tips<br>
				From Wegman's Plaza, just off the DeWitt exit of 481, head east on East Genesse (Route 92).  In two minutes when the road splits, continue right on Highbridge (Route 92).  In two more minutes, you will see our Toothbrush Mailbox on your left.
			</p>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="content-container">
			<h3>Arrival Welcome</h3>			
			<p>
				The Toothbrush Mailbox and the entire staff of the TLC Dental Group look forward to greeting current and future members of our family of patients.
			</p>
			<div class="row-fluid" style="text-align:center;">
				<div class="span12">
					<%= image_tag 'tbm_beacon.jpg' %>
				</div>
			</div>
		</div>
	</div>
</div>