<title>TLC Dental Group Syracuse</title>
<div class="welcome-text">
	<div class="row-fluid">
		<div class="span12">
			<i><h3 style="text-decoration:underline">Welcome to TLC Dental Group</h3><h5>TLC is many facets of care.</h5></i>
		</div>
	</div>
</div>
<div id="left-welcome">
	<div class="row-fluid">
		<div class="span2 offset1">
			<a href="<%= gentledentistry_path %>/#gentledentistry"><img src="<%= asset_path 'homepage-lion.jpg' %>" class="homepage-lion" /></a>
		</div>
		<div class="span6">
			<i><p>
				<b>TLC is Art</b> expressed by our Toothbrush Mailbox<br>
				<b>TLC is Comfort</b> in the relaxed ambiance of our office<br>
				<b>TLC is Gentle</b> care for your peace of mind<br>
				<b>TLC is a Dream Smile</b>  from a palette of possibilities<br>
				<b>TLC is Robust Health</b>  from a full range of services<br>
				<b>TLC is Modern Technology </b>for optimum treatment<br>
				<b>TLC is Affordable</b> family dental care<br>
				<b>TLC is Award Winning</b> family dentistry<br>
			</p></i>
		</div>
		<div class="span3">
			<a href="<%= newpatients_path %>/#biteout"><img src="<%= asset_path 'piggybank.png' %>" class="trophy" id="trophy" /></a>
		</div>
	</div>
</div>
<div class="welcome-text">
	<div class="row-fluid">
		<div class="span12">
			<h5><i>
				We at TLC warmly welcome you to<br>
				our family of staff and patients.</i>
			</h5><br>
			<h5>Stephen J. Rothenberg DDS</h5>
			<%=	image_tag 'homepage-signature.jpg' %><br>
			<a href="<%= blog_path %>/#trophy"><%=	image_tag 'homepage-award.jpg' %></a>
		</div>
	</div>
</div>