<title>New Patients | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>New Patients</u>
		</div>
	</div>			
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Introduction</h3>
			<p>
				It is a pleasure to welcome you to our TLC family of patients and a privilege to provide for your dental health and  "Dream Smile."  In your first and following visits, we will always welcome you warmly, offer you the most modern dental technology, afford you our signature "Gentle Dentistry," and draw on our years of training and experience to assure your dental well being.  In short, we will care for you as one of our family.<br>
			</p>
			<p>
				To assist you in your first visit, we have gathered the following TLC patient forms as well as insurance and financial information that might prove helpful.  We also have provided you with an email appointment request.  Should you have any questions concerning these or other patient matters, please phone us at (315) 637-7684.  We would be delighted to discuss your concerns and answer your questions.
			</p>				
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>We Cater to Cowards</h3>
			<%= image_tag 'cowardlylion.jpg', :class => "center" %>
			<p>
				For more than a quarter of a century our calling card has been “We cater to cowards” and over this time our founder, Dr. Rothenberg, has set the Syracuse benchmark for gentle dentistry.  Today, TLC draws on an array of resources to allay your concerns including our staff, ambiance, amenities, anesthetics, sedation, and our unwavering commitment to your care and comfort.<br>
			</p>			
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>We Take the Bite Out of Seeing the Dentist</h3>
			<p>
				Dr. Rothenberg believes that: "excellent dental care should not be reserved for the privileged few."  Accordingly, TLC Dental has long been recognized not only for the excellence of its dental care but also for the affordability of its care.<br>
			</p>
			<p>
				We take pride in our "Dream Smiles" and equal pride in being a truly "affordable dentist."   In short, we will preserve your teeth and your wallet.<br>
			</p>		
			<%= image_tag 'sharkballandchain.png', :class => "center" %>				
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Insurance: We Fight for Your Dental Health </h3>
			<%= image_tag 'boxing.jpg', :class => "center" %><br>
			<p>
				We work with most insurance plans and if you have dental coverage please bring your dental policy benefit book to your first appointment.  After a review of your dental history and a thorough and careful dental examination, we shall review with you the best treatment options for your dental and general health.<br>
			</p>
			<p>
				If certain necessary procedures are not covered or insufficiently covered by your policy we will put on the gloves and fight for your health with the insurance company.<br>
			</p>
			<p>
				This is important for several reasons.<br>
			</p>
			<p>
				We're not just talking about your dental health and "Dream Smile."  From the Nexus of Dental and General Health part of our Treatments section, we know that modern research is revealing a closer relationship between your dental health and general health.  The bacteria that cause periodontal disease can reach far beyond the oral cavity and may affect all of the body's systems and organs.<br>
			</p>
			<p>
				No one should be denied treatment essential to their dental and general health.   But insurance companies love to say no.  That's when we put on the gloves and won't take no for an answer. We study your case and the requirements of your policy and reinforce your claim with the documentation needed to get a "yes" answer.<br>
			</p>
			<p>
				Simply put, our policy at TLC Dental is this:  You and your dentist and not profit driven insurance companies can best judge what is necessary for your dental and general health. <br>
			</p>				
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Payment Options</h3> 
			<div class="row-fluid">
				<div class="span12" style="margin-top:-70px;">
					<%= image_tag 'paymentoptions.jpg', :class => "float-left" %>
					<%= image_tag 'carecredit.jpg', :class => "float-right" %>
				</div>
			</div>
			<p>
				We offer several options to facilitate payment of your treatments.  For your convenience we accept cash, checks, and the following credit cards: Visa, MasterCard, American Express, and Discover.<br>
			</p>
			<p>
				Additionally, we offer 3, 6, or 12 month no interest, low minimum payment plans through CareCredit as well as their 24, 36, and 48 month extended payment plans.  
			</p>				
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>New Patient Forms</h3>
			<p>
				Should you prefer to leisurely complete the Health History and New Patient forms before arriving at TLC Dental for your first visit, we have made them available for you in pdf format.  To view and print these forms, your computer must have the Adobe Acrobat Reader program.  If your computer lacks this program, you may easily and quickly download it by clicking below.
			</p>				
			<ul>
				<li><%= link_to "Click to download Adobe Acrobat Reader", "http://get.adobe.com/reader/" %></li>
				<li>Health History Form</li>
				<li>New Patient Form </li>
			</ul>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>New Patient Seasonal Special Offer</h3>
			<%= image_tag 'seasons.jpg', :class => "center" %><br>
			<p>
				If you are a new patient, we are pleased to offer you a Free Seasonal Special Offer.  This enables you to meet our landmark Toothbrush Mailbox and our devoted staff, to enjoy our comforting ambiance, to see our state of the art dental equipment; to experience our dental care and proficiency, to appreciate "the Art of Gentle Dentistry," and to prepare for your "Dream Smile."    
			</p>				
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="contact-container">
			<h3>Email Appointment</h3>
			<p> 
				To make an appointment for a dental problem or a "Dream Smile" treatment please phone the TLC Dental Group at (315) 637-7684 or simply complete the email form below and click on the "Send" button.  We will then call to thank you and confirm your appointment.<br>
			</p>
			<p>
				This form is programmed solely for making appointments. If you have a dental emergency or wish to change or cancel an appointment please phone our office at (315) 637-7684. 
			</p>				
			<%= form_for :message, :url => contact_path do |form| %> 
				<%= form.text_field :name, :placeholder => 'Name' %><br>
	   			<%= form.text_field 'email', :placeholder => 'Email Address' %><br>
	   			<%= form.text_field 'phone', :placeholder => 'Phone #' %><br><hr>
	    		<%= form.radio_button(:currentpatient, "Yes") %>	    		
	    		<%= form.label(:currentpatient, "New Patient?") %>
				<%= form.radio_button(:currentpatient, "Yes") %>	    		
	    		<%= form.label(:currentpatient, "Current Patient?") %>
	    		<br><hr>	   			
				<strong>Best time to call you?</strong><br>
				<%= form.radio_button(:calltime, "Morning") %>
				<%= form.label(:calltime, "Morning") %>
				<%= form.radio_button(:calltime, "Noon") %>
				<%= form.label(:calltime, "Noon") %>	
				<%= form.radio_button(:calltime, "Afternoon") %>
				<%= form.label(:calltime, "Afternoon") %>	
				<%= form.radio_button(:calltime, "Evening") %>
				<%= form.label(:calltime, "Evening") %><br><hr>
				<strong>Date of desired appointment?</strong><br>
				<%= form.text_field 'date', :placeholder => 'dd/mm/yy' %><br><hr>
				<strong>Preferred Time?</strong><br>
				<%= form.radio_button(:apttime, "Morning") %>
				<%= form.label(:apttime, "Morning") %>	
				<%= form.radio_button(:apttime, "Afternoon") %>
				<%= form.label(:apttime, "Afternoon") %>
				<%= form.radio_button(:apttime, "Anytime") %>
				<%= form.label(:apttime, "Anytime") %><br><hr>
				<strong>Which of the following treatment categories of our website is central to your appointment?</strong><br>
				<%= form.radio_button(:treatment, "Dream Smiles") %>
				<%= form.label(:treatment, "Dream Smile Solutions") %>	
				<%= form.radio_button(:treatment, "Common Dental Problems") %>
				<%= form.label(:treatment, "Common Dental Problems") %>
				<%= form.radio_button(:treatment, "Preventive Dentistry") %>
				<%= form.label(:treatment, "Preventive Dentistry") %><br><br>		
				<%= form.submit "Submit", :class => "btn-primary btn-med" %>
			<% end %>
		</div>
	</div>
</div>