<title>Preventive Dentistry | TLC Dental Group Syracuse</title>
<div class="pagetitle">
	<div class="row-fluid">
		<div class="span12">
			<u>Preventive Dentistry</u>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="content-container">
			<p>
				To assure your dental health we have compiled the following summaries of preventive dental treatments.  To benefit from one or more of these treatments please call the TLC Dental Group Fayetteville / Manlius office at 315-637-7684.
			</p>
			<%= image_tag 'preventionshield.jpg', :class => "float-right" %>
	          <ul><b>
	            <li><%= link_to "Oral Cancer Screening", preventivedentistry_oralcancerscreening_path %></li><br>
	            <li><%= link_to "Professional Dental Cleaning", preventivedentistry_preventivedentalcleaning_path %></li><br>
	            <li><%= link_to "Sealants", preventivedentistry_sealants_path %></li><br>
	            <li><%= link_to "TLC Athletic Mouthguards", preventivedentistry_athleticmouthguards_path %></li><br>
	            <li><%= link_to "TLC Dream Smile Diet", preventivedentistry_dreamsmilediet_path %></li><br>
	            <li><%= link_to "TLC Fluoride Treatments", preventivedentistry_flouridetreatment_path %></li><br>
	            <li><%= link_to "TLC Oral Hygiene", preventivedentistry_oralhygiene_path %></li>	<br>
	            <li><%= link_to "TLC Rotadent Toothbrush", preventivedentistry_rotadent_path %></li><br>
	            <li><%= link_to "TLC Soft Tissue Managment", preventivedentistry_softtissue_path %></li><br>
	            <li><%= link_to "TLC Tobacco Cessation Program", preventivedentistry_tobaccocessationprogram_path %></li><br></b>    
	          </ul>			
		</div>
	</div>
</div>